<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <script type="text/javascript" th:src="@{/js/app.js}"></script>
</head>
<body>
    <div th:replace="header" />

    <img th:src="@{/images/logo.svg}" width="10%" />
    <h1>Ratpack</h1>

    <p th:text="'Today we are: ' + ${new java.util.Date()}"></p>

    <h1 th:text="${header}"></h1>

    <form method="post" action="/upload" enctype="multipart/form-data">
      <input type="text" name="username" placeholder="User Name" />
      <label for="avatar">Photo
        <input type="file" name="avatar" />
      </label>

      <input type="submit" />
    </form>

    <p th:text="${text}" />

    <p th:if="${users.size() > 0}">There are: <span th:text="${users.size()}" /> user(s).</p>

    <!-- Using if/unless -->
    <ul th:each="user: ${users}">
      <li>
        <span th:text="${user.username}"></span>: <span th:text="${user.email}"></span>
        <a th:if="${user.role}=='ADMIN'" href="#">Delete</a>
        <a th:unless="${user.role}=='ADMIN'" href="#">View</a>

        <!-- Using switch/case -->
        <div th:switch="${user.role}">
          <p th:case="ADMIN">Role: <span>Admin</span></p>
          <p th:case="USER">Role: <span>User</span></p>
          <p th:case="*">Role: <span>UNKNOWN</span></p><!-- for default case -->
        </div>

      </li>
    </ul>



    <div th:replace="footer" />

    <div th:insert="footer">
      <p>Copyright &copy; Company</p>
    </div>

</body>
</html>
